:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #c6baba;
  --color4: #305083;
  --color5: #4d4b65;
  --color6: #181727;
  --color7: #e8e7f3;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--color7);
  overflow: hidden;
  color: var(--color7);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/waves.png") repeat;
  opacity: 0.05;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  padding: 1rem;
}

h1 {
  font-family: "Rubik Dirt", serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
  padding-top: 0;
  color: var(--color3);
}

.input-section {
  font-family: "Roboto", serif;
  font-size: 1rem;
  text-align: center;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  height: 520px;
  margin: auto;
}

.input-section p {
  text-align: center;
  line-height: 1.4rem;
  margin: 0;
  font-size: 1.1rem;
}

.input-section textarea {
  font-family: "Roboto", serif;
  font-size: 1.2rem;
  height: 340px;
  width: 158px;
  line-height: 1.9rem;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: var(--color5);
  color: var(--color7);
}

textarea::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--color2);
  opacity: 0.4;
}

textarea:focus {
  outline: none;
  border-color: none;
}

textarea:focus::placeholder {
  color: transparent;
}

main {
  display: grid;
  grid-template-columns: 180px 600px;
  gap: 2rem;
  padding: 0 0 0 2rem;
  background-color: var(--color6);
  border-radius: 1rem;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.map {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0 1rem 1rem 0;
}

/* Gulf of Mexico text */
.gulf-of {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color7);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.pickNameButton {
  padding: 20px 15px;
  border: none;
  background-color: var(--color4);
  color: var(--color2);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, color 0.5s ease;
  text-align: center;
}

.pickNameButton:hover {
  background-color: var(--color3);
}
